/__pycache__
/gui_sokoban.py
/images
/sanity_check.py
/search.py
/sokoban.py
/warehouses
Report/Sokoban_Solver_report.fdb_latexmk
Report/Sokoban_Solver_report.aux
Report/Sokoban_Solver_report.fls
Report/Sokoban_Solver_report.log
Report/Sokoban_Solver_report.out
Report/Sokoban_Solver_report.synctex.gz
Report/Sokoban_Solver_report.toc
